::ng-deep app-people{
.peopel-header{
    font-size: 20px;
    &__navbar{
        background-color: #3a87bf;
        color:white ;
        &--navicon{
            font-size:25px;
            height: inherit;
            cursor: pointer;
        }
        &--titel{
            margin-left: 5px
        }
        &--img{
            height: 5vh;
            cursor: pointer;
        }
    }

}
.peopel-tabel{
    padding: 50px 50px 0px;
    .mat-header-cell {
        background: #37acf6;
        color: white;
    }
    .mat-row:nth-child(even){
        background-color: white;
    }
            
    .mat-row:nth-child(odd){
        background-color: #f6f6f6;
    }
    &__errorMessage{
        color: gray;
        padding-top: 20px;
        font-size: 20px
    }
    &__data{
        cursor: pointer
    }
    &__data:hover{
        color: #3a87bf
    }
};
}