<div class="peopel">
  <div class="peopel-header">
    <mat-card class="peopel-header__navbar" fxLayout="row">
      <div fxLayout="row">
        <mat-icon class="peopel-header__navbar--navicon" (click)="sidenav.toggle()" fxLayoutAlign="center center">menu
        </mat-icon>
        <span class="peopel-header__navbar--titel" fxLayoutAlign="center center">People</span>
      </div>
      <div fxFlex="100" fxLayoutAlign="end">
        <img class="peopel-header__navbar--img" src="../../assets/1657790548138.png" />
      </div>
    </mat-card>
  </div>

  <div>
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/dashBoard/attendance']"> Attendances </a>
          <a mat-list-item [routerLink]="['/dashBoard']"> DashBoard </a>
          <a mat-list-item (click)="logOff()" [routerLink]="''">logoff</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>

        <div class="peopel-tabel" fxLayout="column">
          <div fxLayoutAlign="end">
            <mat-slide-toggle (click)="enableEdit()">Enabel Edit</mat-slide-toggle>
          </div>
          <table fxFlex="100" matSort mat-table [dataSource]="dataSource">

            <div matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="selectAll($event.checked)"></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [checked]="checks"></mat-checkbox>
              </td>
            </div>

            <div matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element" (click)="onRoute(element)">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{element.id}} </td>
            </div>

            <div matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Firstname
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <input matTooltip="Double Click to Save" [(ngModel)]="element.name" *ngIf="element.isEdit" (dblclick)="onEdit(element)"
                  value="{{element.name}}">
                <span   *ngIf="!element.isEdit" (click)="onSave(element)">{{element.name}}</span>
              </td>
            </div>

            <div matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Email
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <input matTooltip="Double Click to Save" [(ngModel)]="element.email" *ngIf="element.isEdit" (dblclick)="onEdit(element)"
                  value="{{element.email}}">
                <span *ngIf="!element.isEdit" (click)="onSave(element)">{{element.email}}</span>
              </td>
            </div>

            <div matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Lastnname
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <input matTooltip="Double Click to Save" [(ngModel)]="element.lastname" *ngIf="element.isEdit" (dblclick)="onEdit(element)"
                  value="{{element.lastname}}">
                <span *ngIf="!element.isEdit" (click)="onSave(element)">{{element.lastname}}</span>
              </td>
            </div>

            <div matColumnDef="phonenumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Phone:No
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <input matTooltip="Double Click to Save" [(ngModel)]="element.phonenumber" *ngIf="element.isEdit" (dblclick)="onEdit(element)"
                  value=" {{element.phonenumber}} ">
                <span *ngIf="!element.isEdit" (click)="onSave(element)"> {{element.phonenumber}} </span>
              </td>
            </div>
            <div matColumnDef="hiredate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Department
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <select matTooltip="Double Click to Save" [(ngModel)]="element.hiredate" *ngIf="element.isEdit" (dblclick)="onEdit(element)">
                  <option *ngFor="let op of options2" [value]="op.id">{{op.key}}</option>
                </select>
                <span *ngIf="!element.isEdit" (click)="onSave(element)"> {{element.Department}} </span>
              </td>
            </div>

            <div matColumnDef="salary">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Gender
              </th>
              <td class="peopel-tabel__data" mat-cell *matCellDef="let element">
                <select [(ngModel)]="element.salary" (dblclick)="onEdit(element)" *ngIf="element.isEdit">
                  <option *ngFor="let op of options" [value]="op.id">{{op.key}}</option>
                </select>
                <span *ngIf="!element.isEdit" (click)="onSave(element)"> {{element.salary}} </span>
              </td>
            </div>

            <ng-container matColumnDef="no1">
              <th mat-header-cell *matHeaderCellDef> </th>
            </ng-container>

            <ng-container matColumnDef="select1">
              <th mat-header-cell *matHeaderCellDef> </th>
            </ng-container>

            <div matColumnDef="name1">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput [(ngModel)]="search" placeholder="Enter Frist Name" (keyup)="filter()">
                </mat-form-field>
              </th>
            </div>

            <div matColumnDef="email1">
              <th mat-header-cell *matHeaderCellDef>
              </th>
            </div>

            <div matColumnDef="lastname1">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="example-full-width" appearance="fill">
                  <input matInput [(ngModel)]="search1" placeholder="Enter Frist Name" (keyup)="filter1()">
                </mat-form-field>
              </th>
            </div>

            <div matColumnDef="phonenumber1">
              <th mat-header-cell *matHeaderCellDef>
              </th>
            </div>
            <div matColumnDef="hiredate1">
              <th mat-header-cell *matHeaderCellDef>
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter Department</mat-label>
                    <input type="text" aria-label="Enter Department" matInput [formControl]="myControl2"
                      [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="op($event.option.value)">
                      <mat-option *ngFor="let op of options2" [value]="op.id">{{op.key}}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </th>
            </div>

            <div matColumnDef="salary1">
              <th mat-header-cell *matHeaderCellDef>
                <form class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter Gender</mat-label>
                    <input type="text" aria-label="Enter Gender" matInput [formControl]="myControl"
                      [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="op($event.option.value)">
                      <mat-option *ngFor="let op of options" [value]="op.id">{{op.key}}</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </th>
            </div>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <p class="peopel-tabel__errorMessage" fxLayoutAlign="center center" *ngIf="displayNoRecords">No Data found</p>
          <mat-paginator [pageSizeOptions]="[5, 10,15, 20,25,30]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>