::ng-deep app-people{
.peopel__header{
    font-size: 20px;
    .peopel__header_navbar{
        background-color: #3a87bf;
        color:white ;
        // margin-left: 2px;
        .peopel__header_navbar-navicon{
            font-size:25px;
            height: inherit;
            cursor: pointer;
        }
        .peopel__header_navbar-titel{
            margin-left: 5px
        }
        .peopel__header_navbar-img{
            height: 5vh;
            cursor: pointer;
        }
    }

}
.peopel__tabel{
    padding: 50px 50px 0px;
    .mat-header-cell {
        background: #37acf6;
        color: white;
    }
    .mat-row:nth-child(even){
        background-color: white;
    }
            
    .mat-row:nth-child(odd){
        background-color: #f6f6f6;
    }
    .peopel__tabel_container-dropDown{
        background-color: #3a99f0;
        color: rgba(0, 0, 0, 0.676);
        border-color: rgba(0, 0, 0, 0.676);
        border-radius: 5px; 
    }
};
}