.request {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100vh;
  background-color: #1b65ba;
 
  &-header {
    color: white;
    margin-top: 5vh !important;
    font-weight: 1000;
  }

  &-carsoul {
    margin-left: 20%;
    margin-top: 25px;
    border-radius: 3px;
    height: 250px;
    width: clamp(100px ,40vw, 230px);
  

    &__image {
      width: 75px !important;
      height: 75px;
    }

    &__content {
      font-size: 10px;
      overflow-y: scroll;
      height: 15vh;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

}


::ng-deep .owl-item.active.center {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  opacity: 1.5 !important;
  -webkit-transform: scale(1.8);
  transform: scale(1.5);
  height: inherit;
}

::ng-deep .owl-item {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0.5;
}

::ng-deep.owl-theme .owl-nav .owl-next {
  background-color: transparent;
  font-size: 25px;
  color: #fff;
}

::ng-deep.owl-theme .owl-nav .owl-prev {
  background-color: transparent;
  font-size: 25px;
  color: #fff;
}