.edit-page {
  background-color: #f7f7f7;
  height: 75vh;
  &__form {
    background-color: #ffffff;
    border-radius: 10px;
    &-photo {
      border-radius: 10px;
      width: 200px;
      height: 30vh;
    }
    &--field_error {
      color: red;
      font-size: 10px;
      margin-top: -15px;
    }
  }
  &__sub-btn {
    background: #65d782;
    color: #ffffff;
  }
  &__cal-btn {
    background: #d80033b9;
    color: #ffffff;
  }
}
