.profile-page{
    background-color:#f7f7f7;
    height: 100vh;
    &__profile{
        background-color:#ffffff;
        margin-top: 50px;
        padding: 20px 20px 20px 20px;
        border-radius: 10px;
        &-photo{
            // background-position: 50%;
            border-radius: 50%;
            width: 130px;
            height: 150px;
        }
        &-name{
            color: #3d4158;
            font-size: 20px;
            margin-top: 10px;
        }
        &-details{
            color: #818cb2
        }
        &-heading{
            color: #818cb2
        }
        &-line1{
            margin-left: 5px;
            width: 47%;
        }
        &-line2{
            margin-left: 5px;
            width: 67%;
        }
        
        &-line3{
            margin-left: 5px;
            width: 40%;
        }
    }

}

